---
const { label, title, subtitle } = Astro.props;
---

<div class="space-y-3 text-center">
  {
    label ? (
      <div class="badge badge-outline gap-2 border-primary/40 bg-base-100/60 px-4 py-4 text-primary">
        {label}
      </div>
    ) : null
  }
  {title ? <h2 class="text-4xl font-black sm:text-5xl">{title}</h2> : null}
  {
    subtitle ? (
      <p class="mx-auto max-w-2xl text-base-content/80">{subtitle}</p>
    ) : null
  }
</div>
